<div class="digital_library_song-card">
    <div class="digital_library_song-card_inner">
        <div class="digital_library-card_thumbnail">
            <img [src]="'assets\\game_icon.png'" width="120" alt="thumbnail">
        </div>
        <div class="digital_library-card_title">{{title}}</div>
        <div class="digital_library-card_description">{{description}} </div>
        <div class="digital_library-card_description">({{creationDate}}) </div>
        <br>
        <div style="font-size: 13px; font-style: italic;" class="digital_library-card_description">Última modificación: {{lastModificationDate}}</div>
    </div>
</div>
