<header>
    <nav class="digital_library_top-nav" [ngClass]="{ 'hidden': isNavbarHidden }">
        <div class="digital_library_top-nav_focus_title">
            <ul class="digital_library_top-nav_auth">
                
            </ul> 
        </div>
        <ul class="digital_library_top-nav_auth">
            <li class="digital_library_top-nav_auth_signup">Sign up</li>
            <li class="digital_library_top-nav_auth_login">
                Log in
            </li>
        </ul>
    </nav>
</header>
