<div>
    <div class="digital_library_home-container row">
        <div class="digital_library_home-container_side-bar col-2">
            <app-left-nav></app-left-nav>
        </div>
        <div class="digital_library_home-container_playlist-container col-12">
            <app-top-nav></app-top-nav>
            
            <div style="padding-top: 50px; margin-left: 20%;" class="mt-5 container-fluid row">
                
                
              <app-item-presentation 
              [title]="this.movieToEdit['title']"
              [srcImg]="'assets\\movie_icon.png'" 
              [synopsis]="this.movieToEdit['synopsis']">
              </app-item-presentation>


              <div class="mt-6">
                <!-- <h4 style="color: white; ">Editar Libro</h4> -->
                <form (ngSubmit)="submitForm()" class="mt-3" #formulario="ngForm">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputTitle" style="color: white;">Título</label>
                      <input class="form-control" type="text" id="inputTitle" name="inputTitle" [(ngModel)]="inputTitle" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputScore" style="color: white;">Puntuación</label>
                      <input class="form-control" type="number" id="inputScore" name="inputScore" [(ngModel)]="inputScore" required>
                    </div>
                    <div class="form-group">
                      <label for="inputDescription" style="color: white;">Descripción</label>
                      <textarea class="form-control" id="inputDescription" name="inputDescription" rows="4" style="width:60%;" [(ngModel)]="inputDescription"></textarea>
                  </div>
                  </div>
                  <div class="mt-2"> 
                    <button type="submit" [disabled]="!formulario.valid" class="btn btn-light">Enviar</button>
                  </div>
                </form>
              </div>

        </div>

    </div>
    
</div>
