<div style="color: white;" class="mt-2"> 
    <div style="border: 3px solid black; border-radius: 8px; padding: 1px; margin-right: 25%; background-color: #cfcdcd11;" class="row align-items-center">
        <div class="col-md-4">
            <img src="{{this.srcImg}}" class="img-fluid custom-border" alt="Imagen" style="max-width: 50%;">
        </div>
        <div class="col-md-6 mt-3 w-60">
            <h2>{{this.title}}</h2>
            <p class="text-break">{{this.synopsis}}</p>
        </div>
    </div>
  </div>
